<%- include("header") -%>
  <header><h4>Oops !! Something is wrong. Please check the city name and re-try. </h4></header>


<a class="btn btn-primary stretched-link" href="/">Re-try</a>


  <%- include("footer") -%>
