  <%- include("header") -%>
    <header><h1>World Weather App</h1></header>

  <div>
    <h4>Do you want to know the weather of any City? Put in the City Name !!! </h4>
  </div>

  <div>
    <h6>
   The technologies used in this project are HTML, CSS, Node.JS, Express.JS, Java Script, EJS [Embedded Java Scripting Templates] including Packages NPM, Body-Parser including APIs.
 </h6>
 <h6>
This also includes security related concepts environment variables and also GIT.
</h6>
  </div>

    <form class="formStyle" action="\" method="post">

      <div class="form-group mx-sm-3 mb-2">
        <label for="cityInput">CityName:</label>
       <input id="cityInput" class="form-control" type="text" name="cityName">

     </div>

        <%# <input type="submit" value="Go">  %>

<button type="submit" class="btn btn-primary" value="Go">Go</button>

    </form>


    <%- include("footer") -%>
